---
# Handlers - security

- name: Restart Fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

# 1) Valider la config SSH
- name: Validate sshd config
  ansible.builtin.command: /usr/sbin/sshd -t
  changed_when: false
  listen: "Validate and reload SSH"

# 2) Reload SSH uniquement si la validation passe
- name: Reload ssh service
  ansible.builtin.service:
    name: ssh
    state: reloaded
  listen: "Validate and reload SSH"
