---
- name: Install Fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
    update_cache: true

- name: Deploy jail.local
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
  notify: Restart Fail2ban

- name: Ensure Fail2ban is enabled and running
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true
